 {% load i18n %}
{% load staticfiles %}
     
   {% block head %} 

           <link rel="stylesheet" href="{% static 'assets/css/feeds.css' %}" rel="stylesheet">
          <link rel="stylesheet" href="{% static 'assets/css/feeds_profile_extra.css.css' %}" rel="stylesheet">
   <style type="text/css">
 .green {  
    color: #008080;
 }
/* .like .heart{ 
  color: green; 
 } */ 
.like{ font-weight: bold; font-size:13px; color: gray; }
.unlike { font-weight: bold; color: #008080; font-size:12px; }
   </style>     
   {% endblock %}  

<li style="margin-left:0px;">
  <div class="feed-container">
    
    <div class="post">

        <span style="color: blue; font-size:15px;"> {{ feed.user.profile.get_screen_name }}
              <small>{{ feed.date }}</small>
        </span>

      </h3> 
      <p style="margin-bottom:7px; margin-top:7px color:black; font-size: 13px; margin-left: -10px;">{{ feed.post|linebreaks }}</p>

      </div>
    </div>
</li>
<hr>