{% extends "prayag/base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block main_content %}

<!-- === BEGIN CONTENT === -->
<div id="content">
  <div class="container background-white">
    <div class="row margin-vert-30">
      <div class="col-md-12">
        <h2 class="text-center"><strong>Acknowledgement</strong></h2><br>
        <!-- Intro / Why Us? -->
        <div class="row">
          <h3 class="text-center"><strong>District Administrations</strong></h3><br>
          <div class="col-md-3 animate fadeInLeft"></div>
          <div class="col-md-9 animate fadeInLeft">
            <h3><strong>Mr. Suhas LY</strong> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp IAS , District Magistrate Allahabad</h3><br>
          </div><br>
          <div class="col-md-3 animate fadeInLeft"></div>
          <div class="col-md-9 animate fadeInLeft">
            <h3><strong>Dr. R. Rajaganapathy</strong> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp IAS , SDM Karchana , Allahabad</h3><br>
          </div><br>
          <div class="col-md-3 animate fadeInLeft"></div>
          <div class="col-md-9 animate fadeInLeft">
            <h3><strong>Mr. Anupam Srivastava</strong> &nbsp &nbsp &nbsp &nbsp &nbsp Regional Tourism Officer Allahabad</h3><br>
          </div><br>
          <div class="col-md-3 animate fadeInLeft"></div>
          <div class="col-md-9 animate fadeInLeft">
            <h3><strong>Mr. Vijay Kumar</strong> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp  NIC Officer Allahabad</h3><br>
          </div><br>
          <div class="col-md-3 animate fadeInLeft"></div>
          <div class="col-md-9 animate fadeInLeft">
            <h3><strong>Mr. Rajesh Kumar Bharti</strong> &nbsp &nbsp &nbsp &nbsp Tourism Information Officer Allahabad</h3><br>
          </div><br>
          <h3 class="text-center"><strong>Mentors</strong></h3><br>
          <div class="col-md-3 animate fadeInLeft"></div>
          <div class="col-md-9 animate fadeInLeft">
            <h3><strong>Dr. A. K. Singh </strong> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp Associate Professor , MNNIT Allahabad</h3><br>
          </div><br>
          <div class="col-md-3 animate fadeInLeft"></div>
          <div class="col-md-9 animate fadeInLeft">
            <h3><strong>Dr. R. K. Singh</strong> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp Dean Student welfare , MNNIT Allahabad</h3><br>
          </div><br>
          <h3 class="text-center"><strong>Web Team</strong></h3><br>
          <div class="col-md-3 animate fadeInLeft"></div>
          <div class="col-md-9 animate fadeInLeft">
            <h3><strong>Deepak Bharti</strong> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp MNNIT Allahabad</h3><br>
          </div><br>
          <div class="col-md-3 animate fadeInLeft"></div>
          <div class="col-md-9 animate fadeInLeft">
            <h3><strong>Suraj Kumar Mall</strong> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp MNNIT Allahabad</h3><br>
          </div><br>
          <div class="col-md-3 animate fadeInLeft"></div>
          <div class="col-md-9 animate fadeInLeft">
            <h3><strong>Sushant Oberoi</strong> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp MNNIT Allahabad</h3><br>
          </div><br>
          <div class="col-md-3 animate fadeInLeft"></div>
          <div class="col-md-9 animate fadeInLeft">
            <h3><strong>Ritika Bharti</strong> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp MNNIT Allahabad</h3><br>
          </div><br>
          <div class="col-md-3 animate fadeInLeft"></div>
          <div class="col-md-9 animate fadeInLeft">
            <h3><strong>Samyak Jain</strong> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp MNNIT Allahabad</h3><br>
          </div><br>
          <h3 class="text-center"><strong>Media House Of MNNIT (Official Media Group Of MNNIT)</strong></h3><br>
          <div class="col-md-3 animate fadeInLeft"></div>
          <div class="col-md-9 animate fadeInLeft">
            <h3><strong>Sanket Temani</strong> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp MNNIT Allahabad</h3><br>
          </div><br>
          <div class="col-md-3 animate fadeInLeft"></div>
          <div class="col-md-9 animate fadeInLeft">
            <h3><strong>Naman Kishore</strong> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp MNNIT Allahabad</h3><br>
          </div><br>
          <div class="col-md-3 animate fadeInLeft"></div>
          <div class="col-md-9 animate fadeInLeft">
            <h3><strong>Joydeep Haldar</strong> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp MNNIT Allahabad</h3><br>
          </div><br>
          <div class="col-md-3 animate fadeInLeft"></div>
          <div class="col-md-9 animate fadeInLeft">
            <h3><strong>Sai Kumar Thunga</strong> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp MNNIT Allahabad</h3><br>
          </div><br>
          <div class="col-md-3 animate fadeInLeft"></div>
          <div class="col-md-9 animate fadeInLeft">
            <h3><strong>Shashank</strong> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp MNNIT Allahabad</h3><br>
          </div><br>
          <div class="col-md-3 animate fadeInLeft"></div>
          <div class="col-md-9 animate fadeInLeft">
            <h3><strong>Pratik</strong> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp MNNIT Allahabad</h3><br>
          </div><br>
          <div class="col-md-3 animate fadeInLeft"></div>
          <div class="col-md-9 animate fadeInLeft">
            <h3><strong>Akash Patel</strong> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp MNNIT Allahabad</h3><br>
          </div><br>
          <div class="col-md-3 animate fadeInLeft"></div>
          <div class="col-md-9 animate fadeInLeft">
            <h3><strong>Trisha Tiwari</strong> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp MNNIT Allahabad</h3><br>
          </div><br>
          <h3 class="text-center"><strong>DPM Originals</strong></h3><br>
          <div class="col-md-3 animate fadeInLeft"></div>
          <div class="col-md-9 animate fadeInLeft">
            <h3><strong>Divyanshu Mishra</strong> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp MNNIT Allahabad</h3><br>
          </div><br>
        </div>
        
      </div>
      <!-- End Middle Text -->
    </div>
  </div>
</div>

{% endblock main_content %}


{% block extra_js %}
{% endblock extra_js %}