
<!-- === BEGIN FOOTER === -->
            <div id="content" class="container">
            </div>
            <div id="base">
                <div class="container padding-vert-30 margin-top-60">
                    <div class="row">
                        <!-- Contact Details -->
                        <div class="col-md-4 margin-bottom-20">
                            <h3 class="margin-bottom-10">Contact Details</h3>
                            <p>
                                <span class="fa-phone">Mobile No:</span>+91-9161575960
                                <br>
                                <span class="fa-envelope">Email:</span>
                                <a href="mailto:info@joomla51.com">surajmall874@gmail.com</a>
                                <br>
                                <span class="fa-link">Website:</span>
                                <a href="http://www.joomla51.com">mnnit.ac.in</a>
                            </p>
                            <p>Moti Lal Nehru National Institute of Technology
                                <br>Taliarganj , Allahabad(INDIA) 
                                <br>Pin No-211004
                                </p>
                        </div>   
                        <!-- End Contact Details -->
                        <!-- Sample Menu -->
                        <div class="col-md-3 margin-bottom-20">
                            <h3 class="margin-bottom-10">Important Links</h3>
                            <ul class="menu">
                                <li>
                                    <a class="fa-tasks" href="{% url 'home' %}">Home</a>
                                </li>
                                <li>
                                    <a class="fa-users" href="{% url 'views_360' %}">360 Views</a>
                                </li>
                                <li>
                                    <a class="fa-signal" href="{% url 'img_show_all' %}">Images</a>
                                </li>
                                <li>
                                    <a class="fa-coffee" href="{% url 'video_show_all' %}">Videos</a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <!-- End Sample Menu -->
                        <div class="col-md-1"></div>
                        <!-- Disclaimer -->
                        <div class="col-md-3 margin-bottom-20 padding-vert-30 text-center">
                            <h3 class="color-gray margin-bottom-10">Tell us about your experience</h3><br>
                            <p>
                                Visit places and share your valuable feedback about them!
                            </p>
                            <a href="{% url 'feedback' %}"> <button class="btn btn-primary btn-lg margin-top-20" type="button">Feedback</button></a>
                        </div>
                        <!-- End Disclaimer -->
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <!-- Footer Menu -->
            <div id="footer">
                <div class="container">
                    <div class="row">
                        <div id="copyright" class="col-md-12">
                            <p class="text-center white" style="background-color:black;">(c) 2017 Your Copyright Info</p>
                            <p class="text-center gray" style="background-color: black;"><strong>Disclaimer: </strong>The content provided in the website is true to the best of our knowledge. Any resemblance or contradiction regarding any content provided is not a matter of authority of the web team or other members involved in this portal.</p>
                        </div>
                    </div>
                </div>
            </div>